baseURL = "https://blog.soumyadeep.in/"
languageCode = "en-us"
title = "the dementor's pensieve"
theme="pickles"

[params]
	paginate = 10
	twitter = "dementorSam"
	github = "sam17"
	linkedin = "soumyadeepmukherjee"
	#contact = "mailto: soumyadeep9@gmail.com"
	#author = "Soumyadeep Mukherjee"
	authorwebsite = "soumyadeep.in"
	subtitle = "Written with love on gin and tonic"
	logo = "pensieve.png"
	favicon = "pensieve.png"
	custom_css = ["/css/custom.css"]

[[menu.main]]
    name = "Scrolls"
    url = "/talks"
    weight = 3

[[menu.main]]
    name = "Tags"
    url = "/tags"
    weight = 4


[related]
  # Only include matches with rank >= threshold. This is a normalized rank between 0 and 100.
  threshold = 80

  # To get stable "See also" sections we, by default, exclude newer related pages.
  includeNewer = false

  # Will lower case keywords in both queries and in the indexes.
  toLower = false

  [[related.indices]]
  name = "keywords"
  weight = 150
  [[related.indices]]
  name  = "author"
  toLower = true
  weight = 30
  [[related.indices]]
  name  = "tags"
  weight = 100
  [[related.indices]]
  name  = "date"
  weight = 10
  pattern = "2017"












	
