{{ if .Site.Menus.main }}
<nav class="l-nav p-menu">
  <ul class="p-menu__lists">
    {{ range .Site.Menus.main.ByWeight }}
      {{ if .HasChildren }}
        <li class="p-menu__listitem p-menu__parent">
          <span>{{ .Name }}</span>
          <ul>
            {{ range .Children }}
              <li class="p-menu__listitem p-menu__child"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
      <li class="p-menu__listitem">
        {{ $currentPage := $ }}
        {{ $menuURL := .URL | relLangURL }}
        {{ $currentURL := $currentPage.RelPermalink }}
        {{ $isActive := false }}

        {{/* Normalize URLs by trimming trailing slashes for comparison */}}
        {{ $normalizedMenuURL := $menuURL }}
        {{ $normalizedCurrentURL := $currentURL }}
        {{ if ne $menuURL "/" }}
          {{ $normalizedMenuURL = strings.TrimSuffix "/" $menuURL }}
        {{ end }}
        {{ if ne $currentURL "/" }}
          {{ $normalizedCurrentURL = strings.TrimSuffix "/" $currentURL }}
        {{ end }}

        {{ if eq $normalizedMenuURL "/" }}
          {{ $isActive = eq $normalizedCurrentURL "/" }}
        {{ else }}
          {{ $isActive = or (eq $normalizedCurrentURL $normalizedMenuURL) (hasPrefix $normalizedCurrentURL (printf "%s/" $normalizedMenuURL)) }}
        {{ end }}
        <a href="{{ .URL }}" {{ if $isActive }}class="active"{{ end }}>
          {{- .Name -}}
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
{{ end }}
